on:
    pull_request:
jobs:
  can_merge:
    needs: [codeql, detekt, spotless, validation, lint, test, apk]
    if: always()
    permissions:
      actions: read
    runs-on: ubuntu-latest
    steps:
      - env:
          NEEDS_JSON: "${{toJSON(needs)}}"
        name: Transform outcomes
        run: |
          echo "ALL_SUCCESS=$(echo "$NEEDS_JSON" | jq '. | to_entries | map([.value.result == "success", .value.result == "skipped"] | any) | all')" >>$GITHUB_ENV
      - name: check outcomes
        run: "[ $ALL_SUCCESS == true ]"