on:
    pull_request:
jobs:
  can_merge:
    needs: [ci, codeql, analysis]
    if: always()
    permissions:
      actions: read
    runs-on: ubuntu-latest
    steps:
      - env:
          NEEDS_JSON: "${{toJSON(needs)}}"
        name: Transform outcomes
        run: |
          echo "ALL_SUCCESS=$(echo "$NEEDS_JSON" | jq '. | to_entries | map([.value.result == "success", .value.result == "skipped"] | any) | all')" >>$GITHUB_ENV
      - name: check outcomes
        run: "[ $ALL_SUCCESS == true ]"
  "ci":
    uses: ./.github/workflows/ci.yml
  "codeql":
    uses: ./.github/workflows/codeql.yml
  "analysis":
    uses: ./.github/workflows/analysis.yml
